body {
    text-align: center;
}


div.col-sm {
    border-right: solid black 2px; 
    font-size: 100px;
}


.row {
    border-bottom: solid black 2px; 

}

.row:nth-child(3) {
    border-bottom: none; 
}

.col-sm:nth-child(3n) {
    border-right: none; 
}

